[Unit]
Description=Gunicorn instance to serve football-web
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/football-web
Environment="PATH=/home/ubuntu/football-web/football-web/bin"
ExecStart=/home/ubuntu/football-web/football-web/bin/gunicorn --workers 3 --bind unix:football.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target