#topbar {
  background: #14224c;
  color: #ddd;
  margin: 20px auto;
  text-align: center;
  /* text-align: justify; */
  /* font-size: smaller; */
}
#topbar a {
  float: left;
  color: #ddd;
  text-align: center;
  margin: 14px 16px;
  text-decoration: none;
  font-size: 14px;

}
#topbar a:hover {
  background-color: #ddd;
  color: black;
}
#topbar form {
  float: left;
  color: #090808;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}