body {
    background-image: url('./background/home_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}
.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: aliceblue;
    max-width: 400px;
    width: 100%;
}
h2 {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}
select {
    background-color: #fff;
    color: #000;
    text-align: center;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
input[value="Euro 2024"] {
    background-color: #eb6e58;
}
input[value="Euro 2024"]:hover {
    background-color: #b8270e;
}