<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Assist Table</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='header-style.css') }}">
    <script src="{{ url_for('static',filename='sorttable.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        $(function () {
            $("#header").load("header.html");
            // $("#footer").load("footer.html");
        });
    </script>
</head>

<body>
    <div class="header-flex">
    {% include "header.html" %}
        <div class="league-header">
            <img class="league-logo" src="{{logo_image}}" alt="League Logo">
            <div class="league-title">
                <span class="league-name">{{league}}</span>
                <span class="league-season">{{season}}</span>
            </div>
        </div>
    </div>
    <div id="standings" class="w3-container">
        <table id="Tablescore" class="w3-table-all w3-medium sortable">
            {% autoescape false %}
            {{listitem}}
            {% endautoescape %}

        </table>
    </div>
 
</body>

</html>